@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

html { font-size: 74%; }

body {
  background-color: #141414;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nIzI5MjkyOScgc3Ryb2tlLXdpZHRoPScwLjA5JyBkPSdNLTIsMUw3LDEwTS0yLDZMNywxNU0tMiwtNEw3LDUnLz4KCQk8L3BhdHRlcm4+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgaWQ9J2MyJyB3aWR0aD0nNjAnIGhlaWdodD0nMTIwJyB4PScxMDAlJyB5PScwJyB2aWV3Qm94PScwIDAgNSAxMCc+CgkJCTxwYXRoIGZpbGwtb3BhY2l0eT0nMCcgc3Ryb2tlPScjMjkyOTI5JyBzdHJva2Utd2lkdGg9JzAuMDknIGQ9J003LDFMLTIsMTBNNyw2TC0yLDE1TTcsLTRMLTIsNScvPgoJCTwvcGF0dGVybj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPSc1MCUnIGhlaWdodD0nMTAwJScgZmlsbD0ndXJsKCNjKScvPgoJPHJlY3QgeD0nNTAlJyB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYzIpJy8+Cjwvc3ZnPg==');
  
  margin:0; padding:0;
  overflow-x:hidden;
  height:100%;
  font-family: 'Lato', Helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.45;
  color: #eee;
  color: rgba(255,255,255,.85);
}

#content {
    max-width: 43em;
    padding:10px;
    margin: 0 auto;
}

#top {
  margin: 20px;
}

h3 {
    font-size: 2.4em;
    font-weight: 300;
    line-height: 1.5;
}
p, li {
    font-size: 1.7em;
}
a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
}
p#pleft {
    max-width:20em;
    float:left;
}
p#pright {
    max-width:20em;
    float:left;
}
ul {
    clear:both;
}

nav {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

dropdown navbar-nav ms-auto {
  font-size: 30px;
}

#lang {
  font-size: 14px;
  color: grey;
}

#info {
  box-align: center;
  margin: 20px;
}

#about {
  padding-top: 20px;
}

#contacts {
  padding-top: 20px;
}

#edu .section {
  text-align: center;
}
#edu .col {
  margin: 4px;
  text-align: center;
  border: dashed 1px #048e68;
  border-radius: 6px;
}

#edu .col b {
  font-size: 28px;
}

#edu .col small {
  font-size: 16px;
}

#resume {
  display: flex;
  width: 100%;
  background: none;
  margin: 20px auto;
  color: #ffffff;
  display: flex;
}

#resume #top {
  width: 60%;
  display: center;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  /* padding: 30px 15px; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* margin-top: 20px; */
}

#resume {
  width: 70%;
  /* padding: 30px; */
}

#skills {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px grey;
  border-radius: 10px;
  padding: 20px;
}

#interests {
  margin-top: 20px;
  padding: 10px;
}

#interests span {
  font-size: 20px;
}


#photo img {
  width: 72%;
  border-radius: 50%;
}

.section {
  color: #04868E;
  margin: 10px 0;
  font-size: 1.25em;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.3s;
}

a:hover {
  color: #fdd835;
  text-decoration: underline;
}

#top #contacts #box {
  text-align: center;
}

#top #contacts #box a {
  display: inline-block;
  background: none;
  padding: 8px;
  border-radius: 50%;
  margin-right: 5px;

}

svg {
  border-radius: 4px;
  transition-duration: 0.3s;
}

#top #contacts #box svg:hover {
  transform: scale(1.5);
}

ul {
  list-style-type: circle;
  left-padding: 2px;
}
